.maps-button {
  /* Estilos básicos */
  z-index: 100;
  background: #e9dfd1;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(29, 88, 31, 0.4);
  transition: all 0.3s ease;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

/* Versão DESKTOP (acima de 768px) */
@media (min-width: 769px) {
  .maps-button {
    position: absolute;
    top: 51%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 12px 28px;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  
  .maps-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 8px 15px rgba(19, 54, 20, 0.4);
  }
}

@media (max-width: 768px) {
  .maps-button {
    position: relative; /* Mude de fixed para relative */
    bottom: 400px; /* Remove a posição fixa do rodapé */
    left: auto; /* Remove o alinhamento horizontal */
    transform: none; /* Remove a transformação */
    
    width: 90%;
    max-width: 300px;
    padding: 5px 10px;
    font-size: 0.8rem;
    min-height: 50px;
    margin: 0 auto; /* Centraliza o botão no container */
    display: block; /* Garante que o margin auto funcione */
  }
}

/* Versão MOBILE menor (até 480px) */
@media (max-width: 480px) {
  .maps-button {
    max-width: 100px;
    padding: 10px 15px;
    font-size: 1.3rem;
  }
}
