.texto-gradiente {
  all: unset; 
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 300px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0); 
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.8rem;

  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  transition:
    font-size 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 0.3s ease;
}

.texto-gradiente:hover {
  font-size: 3.4rem;
  transform: translateX(-50%);
}
